<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.he.study.mybatis.entity.mapper.MyRuleMapper">
  <resultMap id="BaseResultMap" type="com.he.study.mybatis.entity.model.MyRule">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="logic" jdbcType="VARCHAR" property="logic" />
    <result column="date" jdbcType="DATE" property="date" />
    <result column="repairName" jdbcType="VARCHAR" property="repairname" />
  </resultMap>
  <sql id="Base_Column_List">
    id, logic, date, repairName
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from my_rule
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from my_rule
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.he.study.mybatis.entity.model.MyRule">
    insert into my_rule (id, logic, date, 
      repairName)
    values (#{id,jdbcType=INTEGER}, #{logic,jdbcType=VARCHAR}, #{date,jdbcType=DATE}, 
      #{repairname,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.he.study.mybatis.entity.model.MyRule">
    insert into my_rule
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="logic != null">
        logic,
      </if>
      <if test="date != null">
        date,
      </if>
      <if test="repairname != null">
        repairName,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="logic != null">
        #{logic,jdbcType=VARCHAR},
      </if>
      <if test="date != null">
        #{date,jdbcType=DATE},
      </if>
      <if test="repairname != null">
        #{repairname,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.he.study.mybatis.entity.model.MyRule">
    update my_rule
    <set>
      <if test="logic != null">
        logic = #{logic,jdbcType=VARCHAR},
      </if>
      <if test="date != null">
        date = #{date,jdbcType=DATE},
      </if>
      <if test="repairname != null">
        repairName = #{repairname,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.he.study.mybatis.entity.model.MyRule">
    update my_rule
    set logic = #{logic,jdbcType=VARCHAR},
      date = #{date,jdbcType=DATE},
      repairName = #{repairname,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>